/* --- ANIMATIONS --- */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*:before,
*:after,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Equivalent to 10px */ }

body {
  color: #777;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    animation: moveInRight 1.5s ease-in-out;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem; }

.heading-secondary {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all ease-in-out 250ms; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(8deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  line-height: 175%; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

/* Hero Image Button */
.btn:link, .btn:visited {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }
  .btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.01rem); }

.btn::after {
  border-radius: 10rem;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all .4s;
  width: 100%;
  z-index: -1; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--hero {
  animation: moveInBottom 1.5s ease-in-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  display: inline-block;
  font-size: 1.6rem;
  padding: 3px;
  text-decoration: none;
  transition: ease-in-out 250ms; }

.btn-text:hover {
  background-color: #55c57a;
  border-radius: 5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 1rem 3rem;
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    outline-offset: 2rem;
    position: absolute;
    transition: all 250ms;
    width: 55%;
    z-index: 10; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 25; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 250ms; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.row {
  margin: 0 auto;
  max-width: 114rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%); }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../../img/nat-4.jpg");
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-6deg); }
  .section-features > * {
    transform: skewY(6deg); }
