// COLOURS - GREEN
$colour-primary: #55c57a;
$colour-primary-light: #7ed56f;
$colour-primary-dark: #28b485;

// COLOURS - ORANGE
$colour-secondary-light: #ffb900;
$colour-secondary-dark: #ff7730;

// COLOURS - BLUE
$colour-tertiary-light: #2998ff;
$colour-tertiary-dark: #5643fa;

// LIGHT GREYS
$colour-light-grey-1: #f7f7f7;
$colour-light-grey-2: #eee;

// MEDIUM-DARK GREYS
$colour-dark-grey: #777;
$colour-dark-grey-2: #999;
$colour-dark-grey-3: #333;

// WHITE & BLACK
$colour-white: #fff;
$colour-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT SIZES
$default-font-size: 1.6rem;

// BORDER RADIUS
$default-border-radius: 5px;